 <?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:p="http://www.springframework.org/schema/p"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:mvc="http://www.springframework.org/schema/mvc"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="      
           http://www.springframework.org/schema/beans      
           http://www.springframework.org/schema/beans/spring-beans-3.0.xsd      
           http://www.springframework.org/schema/context      
           http://www.springframework.org/schema/context/spring-context-3.0.xsd  
           http://www.springframework.org/schema/tx 
           http://www.springframework.org/schema/tx/spring-tx-3.1.xsd   
           http://www.springframework.org/schema/mvc      
           http://www.springframework.org/schema/mvc/spring-mvc-3.0.xsd
           http://www.springframework.org/schema/aop 
           http://www.springframework.org/schema/aop/spring-aop-3.1.xsd">
	
	<!-- 启动扫描所有的controller -->
	<context:component-scan base-package="com.gomyck.business.*.*.controller" />
	
	<!--
		主要作用于@Controller,激活该模式 下面是一种简写形式,完全可以手动配置替代这种简写形式；
		它会自动注册DefaultAnnotationHandlerMapping与AnnotationMethodHandlerAdapter
		两个bean, 是spring MVC为@Controllers分发请求所必须的
	-->
	<mvc:annotation-driven />
	
	<!-- 国际化支持 -->
    <bean id="messageSource" class="org.springframework.context.support.ResourceBundleMessageSource">
		<property name="basenames">
			<list>
				<value>/config/propertiesMap</value>
				<value>/config/messages</value>
			</list>
         </property>
	</bean> 

	<!--
		配置js,css等静态文件直接映射到对应的文件夹,不被DispatcherServlet处理 mapping 
		WebRoot里面的静态文件位置目录 location 访问地址
		<mvc:default-servlet-handler/>
	-->
	<mvc:resources location="/source/" mapping="/source/**" />
	 
	<!--
		配置/WEB-INF/views/目录里面的jsp文件不被DispatcherServlet处理,可以直接通过浏览器访问。
		view-name  /WEB-INF/view/里面的jsp文件名(不许后缀即可) path 访问地址
	-->
	<mvc:view-controller path="/" view-name="main/mainframe" />

	<!--JSP页面解析器,当Controller返回XXX字符串时,先通过拦截器,然后该类就会在/WEB-INF/view/目录下,查找XXX.jsp文件-->
	<bean class="org.springframework.web.servlet.view.InternalResourceViewResolver">
		<property name="viewClass" value="org.springframework.web.servlet.view.JstlView"></property>
		<property name="prefix"    value="/WEB-INF/view/"></property>
		<property name="suffix"    value=".jsp"></property>
	</bean>
	
	<!-- 拦截器配置 -->
	<mvc:interceptors>
		<!-- 网页版拦截器配置 -->
		<mvc:interceptor>
			<mvc:mapping path="/**"/>
	   		<bean class="com.gomyck.business.interceptor.CkInterceptor">
	   			<property name="loginFlag">  
		            <value>userInfo</value>
	         	</property>
	         	<property name="ifNeedLogin">  
		            <value>false</value>
	         	</property>
	   			<property name="allowUrls">  
		            <list>
		            
		            </list>
	         	</property>
	   		</bean>
	   	</mvc:interceptor>
    </mvc:interceptors>
	
	<!-- 日期转换注解支持 -->
    <bean id="conversionService" class="org.springframework.format.support.FormattingConversionServiceFactoryBean"></bean>

    <bean id="dateFormatter" class="org.springframework.format.datetime.DateFormatter"> 
        <property name="pattern" value="yyyy-MM-dd HH:mm:ss"></property> 
    </bean>
	
	<!-- SpringMVC上传文件时,需要配置MultipartResolver处理器 --> 
    <bean id="multipartResolver" class="org.springframework.web.multipart.commons.CommonsMultipartResolver"> 
        <!-- 指定所上传文件的总大小不能超过1024KB。注意maxUploadSize属性的限制不是针对单个文件,而是所有文件的容量之和 --> 
        <property name="maxUploadSize" value="102400000"/> 
    </bean> 
     
    <!-- SpringMVC在超出上传文件限制时,会抛出org.springframework.web.multipart.MaxUploadSizeExceededException --> 
    <!-- 该异常是SpringMVC在检查上传的文件信息时抛出来的,而且此时还没有进入到Controller方法中 --> 
    <bean id="exceptionResolver" class="org.springframework.web.servlet.handler.SimpleMappingExceptionResolver"> 
        <property name="exceptionMappings"> 
            <props> 
                <!-- 遇到MaxUploadSizeExceededException异常时,自动跳转到/WEB-INF/jsp/error_fileupload.jsp页面 --> 
                <prop key="org.springframework.web.multipart.MaxUploadSizeExceededException">/index.html</prop> 
            </props> 
        </property> 
    </bean>
    
    <!-- 支持返回json(避免IE在ajax请求时，返回json出现下载 ) -->
    <bean class="org.springframework.web.servlet.mvc.method.annotation.RequestMappingHandlerAdapter">
        <property name="messageConverters">
            <list>
                <ref bean="mappingJacksonHttpMessageConverter"/>
            </list>
        </property>
    </bean>
    <bean id="mappingJacksonHttpMessageConverter" class="org.springframework.http.converter.json.MappingJacksonHttpMessageConverter">
        <property name="supportedMediaTypes">
            <list>
                <value>text/plain;charset=UTF-8</value>
                <value>application/json;charset=UTF-8</value>
            </list>
        </property>
        <property name="objectMapper">
            <bean class="com.gomyck.component.context.spring.json.converter.JsonConverter"></bean>
        </property>
    </bean>
    <!-- 支持返回json -->
    
    <!-- 注入日志服务-->
    <bean id="logService" class="com.gomyck.business.interceptor.LogService"></bean>
    <aop:config>
		<aop:aspect id="myAspect" ref="logService">
			<aop:pointcut id="logPointCut" expression="execution(* com.gomyck.business.controller.*.controller.*.*(..))" />
			<aop:before pointcut-ref="logPointCut" method="logIt" />
		</aop:aspect>
	</aop:config>  
	
	<!-- 注入redis资源管理器-->
    <bean id="redisResourceManager" class="com.gomyck.component.core.redis.RedisResourceManager"></bean>
    <aop:config>
		<aop:aspect id="myAspect" ref="redisResourceManager">
			<aop:pointcut id="logPointCut" expression="execution(* com.gomyck.business.controller.*.controller.*.*(..))" />
			<aop:before pointcut-ref="logPointCut" method="startDoIt" />
			<aop:after  pointcut-ref="logPointCut" method="finishDoIt"/>
		</aop:aspect>
	</aop:config>  
</beans>
           