body {background: #FFF;padding-bottom: 35px;}
* {margin: 0;padding: 0;border:0;font-family: "微软雅黑"}
li {list-style: none;}
a:link,a:active,a:hover,a:visited {text-decoration: none;color: #666;}
.container,.container *,.container-fluid,.container-fluid *,.col-xs-12,.col-xs-11,.col-xs-10,.col-xs-9,.col-xs-8,.col-xs-7,.col-xs-6,.col-xs-5,.col-xs-4,.col-xs-3,.col-xs-2,.col-xs-1{padding:0;margin:0;border:0}
select{appearance:none; -moz-appearance:none; -webkit-appearance:none;}
.container{-webkit-overflow-scrolling : touch;}
.swiper-slide.thisauto{height:10px;}
.swiper-slide-active.thisauto {height:auto}
/*分割线样式*/
.border10px{width:100%;height:10px;background:#f4f4f4;}
.border5px{width:100%;height:5px;background:#f4f4f4;}
.border1px{width:100%;height:1px;background:#f4f4f4;}
.borderright{border-right:1px solid #ededed;}
.cen-as-middle{border-left:1px solid #ededed;border-right:1px solid #ededed;}
.bordeBottom{border-bottom:2px solid #ff6d60;color:#000;}
.bordeBottom1{border-bottom:1px solid #fff;color:#fff;}
.border-all{border:1px solid #bebebe;}
.borderall{border-radius:10px;border:none;overflow: hidden;}
.borderallsmall{border-radius:5px;border:none;overflow: hidden;}
.bordercircular{border-radius:50%;overflow: hidden;}
/*按钮样式*/
.mybtn{padding:8px 15%;text-align: center;border-radius: 5px;}
.mybtn3{padding:8px 20px;text-align: center;border-radius: 5px;}
.mybtn1{padding:8px 15%;text-align: center;border-bottom-left-radius: 5px;}
.mybtn2{padding:8px 15%;text-align: center;border-bottom-right-radius: 5px;}
.mybtntwo{padding:8px;text-align: center;border-radius: 5px;}
.btn-pink{background:#ff6d60;color:#fff;border:1px solid #ff6d60;}
.btn-pink:focus{background:#f05648;}
.btn-pink2{background:#fff;color:#ff6d60;border:1px solid #ff6d60;}
.btn-pink2:focus{background:#ff6d60;color:#fff;border:1px solid #ff6d60;}
.btn-yellow{background:#ffcf66;color:#fff;}
.btn-green{background:#8ed7d8;color:#fff;}
.btn-purple{background:#c3adde;color:#fff;border:1px solid #c3adde;}
.btn-gray{background:#bebebe;color:#fff;border:1px solid #bebebe;}
.btn-gray2{background:#fff;color:#bebebe;border:1px solid #bebebe;}
.foreverline{overflow: hidden;white-space: nowrap;text-overflow: ellipsis;}
/*背景颜色*/
.bgwhite{background:#fff;}
.bgpink{background:#ff6d60;}
.bggray{background: #f9f9f9;}
.bggray2{background: #f4f4f4;}
.bggray3{background: #bebebe;}
.bggray4{background: #707076;}
.bgggreen{background: #8ed7da;}
.bggreen2{background: #aec785;}
.bgblue{background: #8dd7d8;}
.bgpurple{background: #c3adde;}
.bgyellow{background: #ffcf66}
/*字体颜色*/
.spanpink,.font-on{color:#ff6d60;}
.spanpink2{color:#f05648;}
.spanwhite{color:#fff;}
.colorgray{color:#999;}
.colorgray1{color:#dedede;}
.colorgreen{color:#aec785;}
.colorgreen2{color:#8ed7d8;}
.colorblue{color:#8dd7d8;}
.coloryellow{color:#ffcf66}
.colorpurple{color:#c3adde}
.spanborder{border:1px solid #fff;border-radius: 5px;}
/*字体大小*/
.font10px{font-size:10px;}
.font12px{font-size:12px;}
.font13px{font-size:13px;}
.font14px{font-size:14px;}
.font16px{font-size:16px;}
.font18px{font-size:18px;}
.font20px{font-size:20px;}
.font50px{font-size:50px;}
.font8rem{font-size:0.16rem;}
.font10rem{font-size:0.20rem;}
.font12rem{font-size:0.24rem;}
.font14rem{font-size:0.28rem;}
.font16rem{font-size:0.32rem;}
.font18rem{font-size:0.36rem;}
/*lineheight*/
.lineHeight25{line-height: 25px;}
/*padding样式*/
.paddingLR1{padding:0 1%}
.paddingLR3{padding:0 3%}
.paddingLR5{padding:0 5%}
.paddingLR10{padding:0 10%}
.paddingLR15{padding:0 15%}
.paddingTB5{padding:5px 0;}
.paddingTB10{padding:10px 0;}
.paddingTB15{padding:15px 0;}
.paddingTB20{padding:20px 0;}
.paddingTB25{padding:25px 0;}
.paddingTB30{padding:30px 0;}
.paddingTB35{padding:35px 0;}
.paddingTB40{padding:40px 0;}
.paddingTB50{padding:50px 0;}
.paddingTB1R{padding:0.02rem 0;}
.paddingTB2R{padding:0.04rem 0;}
.paddingTB3R{padding:0.06rem 0;}
.paddingTB5R{padding:0.1rem 0;}
.paddingTB10R{padding:0.2rem 0;}
.paddingTB15R{padding:0.3rem 0;}
.paddingTB20R{padding:0.4rem 0;}
.paddingTB25R{padding:0.5rem 0;}
.paddingTB30R{padding:0.6rem 0;}
.paddingTB35R{padding:0.7rem 0;}
.paddingTB40R{padding:0.8rem 0;}
.paddingTB50R{padding:1rem 0;}
.paddingTBLR5_3{padding:5px 3%;}
.paddingTBLR10_3{padding:10px 3%;}
.paddingTBLR15_3{padding:15px 3%;}
.paddingTBLR15-10{padding:15px 10px;}
.paddingTBLR20_3{padding:20px 3%;}
.paddingTBLR25_3{padding:25px 3%;}
.paddingTBLR5_5{padding:5px 5%;}
.paddingTBLR10_5{padding:10px 5%;}
.paddingTBLR15_5{padding:15px 5%;}
.paddingTBLR20_5{padding:20px 5%;}
.paddingTBLR5{padding:5px;}
.paddingTBLR10{padding:10px;}
/*margin样式*/
.marginT5{margin-top:5px;}
.marginT10{margin-top:10px;}
.marginT30{margin-top:30px;}
.marginT50{margin-top:50px;}
/*.onoffclick 为按钮触发类，不加样式*/
/*点击弹出层样式*/
.upTodown,.upTodown1,.upTodown2,.upTodown3{width:100%;height:100%;position:fixed;background: rgba(0,0,0,0.4);top:0;z-index:901;display: none;}
.alertmain{background:#fff;position:absolute;top:30%;left:0;right:0;margin:0 auto;border-radius: 5px;}
.alertmainBottom,.alertmainBottom1{background:#fff;position:absolute;bottom:0;left:0;right:0;margin:0 auto;}
.alerthead{margin-top:-49%;}
.alerttop{font-size:20px;}
.alerttop span{font-size:28px;color:#ff6d60;}
/*其他样式*/
.bgpink div{color:#fff;}
.flexAlign{display: flex;align-items: center;}
.flexAlign_noFont{display: flex;align-items: stretch;}
.touchdian span{background: #fff;}
/*footer底部*/
footer.footerindex{width:100%;position:fixed;bottom:0;z-index:900;}
.footerindex ul .col-xs-1{width:20%;text-align:center;color:#fff;padding-top:5px;}
.footerindex ul .col-xs-1 img{width:35%;margin-bottom:5px;}
.footarctive{background: #f05648;}
/*领豆币头部*/
.headbean{padding:0 2%;}
.headbean .col-xs-6{padding:20px 0;}
.headbean .col-xs-3{padding:6px 0;}
/*个人中心头部*/
.mycenter-head{position: relative;height:250px;overflow: hidden;}
.mycenter-head>div{height:100%;}
.centerup{background: rgba(0,0,0,0.4);position:absolute;z-index:10;}
.centermain{height:100%;display: flex;color:#fff;line-height: 30px;}
.headimg{width:90px;height:90px;border:3px solid #fff;border-radius:50%;margin:0 auto;overflow: hidden;}
/*超出省略*/
.textover{overflow: hidden;white-space: nowrap;text-overflow: ellipsis;}
.textover1{overflow: hidden;white-space: nowrap;text-overflow: clip;}
/*滑动按钮*/
.pointbtnbg{background:#f4f4f4;display: flex;position: relative;height:34px;border-radius: 20px;padding:2px 0;}
.pointbtnbg>div{width:30px;height:30px;position:absolute;left:0;border-radius: 50%;background: #fff;}
.pointword{position: absolute;z-index: 0;left:8%;color:#fff;font-size:10px;}
/*四个主页头部*/
.indexsearch{position:absolute;top:0;z-index: 10;}
.indexinput{background: rgba(255,255,255,0.4);height:100%;border:1px solid #fff;border-radius: 10px;}
.indexinput input{background: none;height:100%;}
.indexinput ::-webkit-input-placeholder{color:#fff;}
.indexinput :-moz-placeholder{color:#fff;}
.indexinput ::-moz-placeholder {color:#fff;}
.indexinput :-ms-input-placeholder{color:#fff;}
.headdian span{background: #fff;}
/*主页商品样式*/
.indexthings ul{padding-bottom:10px;}
.indexthings ul>div{border-radius: 4px;overflow: hidden;}
.indexthings li.col-xs-6.spanpink{padding-bottom:3px;}
.indexthings ul:nth-child(even){padding-left:5px;}
.indexthings ul:nth-child(odd){padding-right:5px;}

.centernum{width:16px;height:16px;background: #ff6d60;color:#fff;border-radius:50%;position: absolute;top:15%;right:23%;font-size:10px;display: flex;align-items: center;justify-content: center;}
/*数量加减按钮*/
.aftersalesbody{display: flex;align-items:center;flex-direction: row;}
.aftersalesbody input{width:30px;height:30px;}
.aftersalesbody input[type=button]{border-radius: 50%;background: #ff6d60;color:#fff;}

.shopgoods1 img{width:100%;}
.filebtn,.filebtn1{position:absolute;width:91%;opacity: 0;}
#click img{width:30%;margin-left:5px;}
/*字体自动换行*/
.word-break{word-break: break-all;}

.specialpic{line-height: 18px;padding-bottom:0.1rem;}

.guidepagedian span{background: #fff;}



