/*index-mycenter*/
.centerbtn1 ul li{padding:10px 0;}
.centerbtn1 img,.centerbtn2 img{margin-bottom:5px;}
.centerbtn2 ul li.col-xs-1{width:20%;}
.centerbtn2 ul li{text-align: center;color:#6f6f75;padding:15px 0;}
.centerbtn2 ul li.col-xs-1 img{width:40%;}
.sanjiao{position:absolute;left:-1%;top:30%;width:10%;}
.triangle-right {width:0;height:0;border-top:12px solid transparent;border-bottom: 12px solid transparent;border-left: 12px solid #fff;position:absolute;top:40%;left:-2%;}

/*centerbean*/
.beanbody .col-xs-6{padding:10px 0;}
.beanbody .col-xs-6 .spanpink{font-size:20px;font-weight: bold;}
.mybeanbtn{display: flex;align-items: center;padding:20px 0;}
.beanbody{padding:20px 0;}
.beanclick{padding:10px;}
.beanclick .swiper-container{height:50px;background: #fff;}
.beanclick .swiper-wrapper{padding:15px 0;}
.beanclick .swiper-wrapper span{color:#ff6d60;font-weight: bold;}
.beanclick>li{border-radius: 5px;overflow: hidden;display:flex;}
.beanclick>li .bgpink{padding:14px 0;font-size:0.5em;}
.beanclick>li .bgpink span{font-weight: bold;}
.beanclick .bgpink div:first-child{padding-bottom:10px;}

.gotoshop ul{border-bottom:1px solid #ededed;}
.beanshopmain{position: relative;}
.beanshopmain>div:last-child{position:absolute;bottom:0;background: rgba(0,0,0,0.4);padding:15px 0;}
.nowreceive{padding:20px;}

.mallnav .col-xs-1{width:20%;}
.ordermiddle{display: flex;}
.ordertop{font-size:16px;}
.ordermiddle>div:last-child{display: flex;flex-direction: column;}
.ordermiddle>div:last-child div{overflow: hidden;}
.orderbottom>div:first-child{font-size:10px;}
.mall-order-space ul{margin-top:40%;}
.orderlist{padding:10px 3%;z-index: 998;background: #fff;position:absolute;top:9%;display: none;}
.orderlist li{padding:10px 2%;}
.orderlist div{border:1px solid #ff6f60;color: #ff6d60;padding:6px 0;border-radius: 5px;}
/*审核进度*/
.review ul{display: flex;align-items:baseline;}
.review ul span{font-size:17px;}
.reviewbody>div{display: flex;}
.reviewbody>div>div:first-child{position:relative;}
.reviewbody>div>div:first-child img:first-child{position: absolute;}
.reviewbody>div>div:first-child img:last-child{height:100%;z-index:-1;}
.reviewmain li{padding:2px 0;}
.reviewmain li:first-child{font-size: 14px;}
.reviewmain li:last-child{font-size: 12px;}

/*评价晒单*/
.evaluatestar>div>div{width:20%;background:#ff6d60;height:30px;float:left;}
.evaluatetext textarea{font-size:14px}
.evaluatepicture li{padding:5px;}
/*评价详情*/
.evaluatemain img{border-radius: 50%;}
.evaluatemainbody ul li{padding:8px 3%;}
/*申请售后*/
.pointpicture{display: none;}
/*搜索页*/
.shopsearch{display: none;}
.thisblock{display:block;}
.seacchclassify div{background: #f9f9f9;padding:10px 3%;border:1px solid #fff;}
.searchtop{border-radius: 5px;overflow: hidden;}
.searchhot li{overflow: hidden;padding:10px 2%;}
.searchhot li span{background: #f4f4f4;padding:7px 2%;border-radius: 5px;}
.searchgoods{padding:5px;}
.searchgoods>div>div{position: absolute;bottom:0;background: rgba(255,255,255,0.5);}



